{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">

{% comment %} ABOUT {% endcomment %}
            <div class="col-md-6">
                <div class="spinner-grow text-secondary" role="status">fdsf</div>
                
                <h2>Welcome to Onebyzero Edu!</h2>
                
                <p class="lead">A River of Educational Resources</p>
                
                <p>Our mission is to provide a digital platform for each department/class in any institution and organize educational resources to reduce hassle, which will be universally accessible to all students.</p>
            </div>

{% comment %}BUTTON{% endcomment %}
            
            {% if not user.is_authenticated %}
            <div>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-lg" style="width: 500px; height:50px">My Resources</a>
            </div>

            {% else %}
            <div>
                <a href="{% url 'my_resources_selection' %}" class="btn btn-secondary btn-lg" style="width: 500px; height:50px">My Resources</a>
            </div>
            {% endif %}
            

            <hr class = "divider">

{% comment %} IMAGE/BANNER {% endcomment %}
            {% comment %} <div class="col-md-6">
                <img src="{% static 'your_image_path.jpg' %}" class="img-fluid" alt="Educational Resources Image">
            </div> {% endcomment %}
            
            
{% comment %}COUNTER{% endcomment %}

<div class="card">
    <div class="info">
        <h4>Total Resources</h4>
        <p>{{ context.total_resources }}</p>
    </div>
    <div class="info">
        <h4>Total Courses</h4>
        <p>{{ context.total_courses }}</p>
    </div>
    <div class="info">
        <h4>Total Departments</h4>
        <p>{{ context.total_departments }}</p>
    </div>
    <div class="info">
        <h4>Total Students</h4>
        <p>{{ context.total_students }}</p>
    </div>
</div>



{% comment %} ROLLER {% endcomment %}
            <div>
                <h1>Roller</h1>
            </div>
{% comment %} TOP 3 CONTRIBUTORS {% endcomment %}


{% comment %} TOP 3 Contributors  {% endcomment %}
<div>
    <h1>Top 3 Contributors [last 28 days]</h1>
</div>
{% comment %} TOP 3 CONTRIBUTORS {% endcomment %}



{% comment %} Resource Details {% endcomment %}
<div>
    <h1>Resource Details</h1>
</div>
{% comment %} Resource Details {% endcomment %}



{% comment %} Feedbacks {% endcomment %}
<div>
    <h1>Feedbacks</h1>
</div>
{% comment %} Feedbacks {% endcomment %}



{% comment %} FAQ {% endcomment %}
<div>
    <h1>FAQ</h1>
</div>
{% comment %} FAQ {% endcomment %}



{% comment %} Mobile APP {% endcomment %}
<div>
    <h1>Mobile App</h1>
</div>
{% comment %} Mobile APP {% endcomment %}


{% comment %} Child Initiatives {% endcomment %}
<div>
    <h1>Our Child Initiatives</h1>
</div>
{% comment %} Child Initiatives {% endcomment %}

        </div>
    </div>


<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %}
