<!-- profile.html -->

{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2>User Profile</h2>
                        <a href="{% url 'edit_profile' %}">
                            <i class="fas fa-edit"></i> Edit<!-- Assuming 'fas fa-edit' is your edit icon -->
                        </a>
                    </div>

                    <div class="profile-section">
                        {% if profile.profile_image %}
                        <div class="profile-image-container">
                            <img src="{{ profile.profile_image.url }}" alt="Profile Image" class="profile-image" style="width: 150px;">
                        </div>
                        {% endif %}

                        <div class="profile-details">
                            <h5 class="card-title">Profile Information</h5>
                            <p><strong>Username:</strong> {{ profile.user.username }}</p>
                            <p><strong>User Type:</strong> {{ profile.get_user_type_display }}</p>
                            <p><strong>Bio:</strong> {{ profile.bio }}</p>
                            <p><strong>Email:</strong> {{ profile.email }}</p>
                            <p><strong>Department:</strong> {{ profile.department }}</p>
                            <p><strong>University:</strong> {{ profile.university }}</p>
                            <p><strong>Year:</strong> {{ profile.year }}</p>
                            <p><strong>Semester:</strong> {{ profile.semester }}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mt-3">
                <a href="#" class="btn btn-primary">Change Password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
